@import "tailwindcss";

:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: normal;

  color-scheme: light dark;

  text-rendering: optimizeLegibility;
  font-variant-ligatures: normal;
}
